<!DOCTYPE html>
<html lang="en">

<div th:insert="fragments/head :: head"></div>
<div th:insert="fragments/navbar :: navbar"></div>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <h5 class="card-title">
            ¡Bienvenido a la aplicación para la asignatura de Sistemas en SpringBoot!
          </h5>
          <div class="card-body">
            <p class="card-subtitle mb-2 text-mute">Usa <i>contar/{PALABRA}</i> para
              contar vocales y consonantes</p>
            <p class="card-subtitle mb-2 text-mute">Usa
              <i>/addFarmacia?nombre={NOMBRE}&ubicacion={UBICACION}&ventas={VENTAS}</i>
              para añadir una nueva farmacia al sistema</p>
            <p class="card-subtitle mb-2 text-mute">Usa <i>/listarFarmacias</i> para listar
              las farmacias del sistema</p>
            <p class="card-subtitle mb-2 text-mute">Usa <i>/mirror/{PALABRA}</i> y te la
              devuelve en formato espejo</p>
            <p class="card-subtitle mb-2 text-mute">Usa <i>/traduce/{PALABRA/FRASE}</i>
              para traducir al inglés una palabra o
              frase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>