<!DOCTYPE html>
<html lang="en">
<div th:insert="fragments/head :: head"></div>
<div th:insert="fragments/navbar :: navbar"></div>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <h6 class="card-title">
              Tu palabra traducida al ingles: <span class="font-weight-bold" th:text="${word}"></span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>